language: php

php:
  - 7.1
  - 7.2
  - 7.3
branches:
  only:
    - master
before_install:
  - travis_retry composer self-update
  - composer install
script:
  - mkdir -p build/logs
  - vendor/bin/phpunit --testsuite Complex
after_script:
  - travis_retry vendor/bin/php-coveralls
  # or enable logging
  - travis_retry vendor/bin/php-coveralls -v